tiktoken
--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions>=4.13.2
wandb
datasets
huggingface_hub[hf_transfer]
zstandard
numpy==1.22.4
